absl-py==0.12.0
aniso8601==9.0.1
astunparse==1.6.3
async-generator==1.10
brotlipy==0.7.0
cachetools==4.2.2
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
flatbuffers==1.12
gast==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
gunicorn==20.1.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Keras-Preprocessing==1.1.2
Markdown==3.3.4
opt-einsum==3.3.0
pandas==1.2.4
pandocfilters==1.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
Send2Trash==1.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
testpath==0.4.4
typing-extensions==3.7.4.3
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
