#popupWrapper{
    margin: 10px;
    width: 300px;
}

#title{
    font-size: 30px;
}

#introduction{
    font-weight: bold;
}

#optionWrapper{
    list-style-type: none;
}

.option{
    
}

#save{
    width: 80px;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
}